
.card-modal-container{
    height: 540px;
    z-index: 1000;
    position: absolute;
    background-color: white;
    top: 80px;
    right: 0;
    width: 20%;
    padding: 10px;
}
.products-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6%;
}

.card-modal-container h1{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */



color: #1D1F22;
}
.products-container .product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-dic{
   
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-dic p{
    margin: 0 !important;
}
.sizes{
    display: flex;
    flex-direction: row;
}
.sizes span{
    border: 1px solid #1D1F22;
    padding: 0px 5px 0px 5px ;
    margin-right: 10%;
}

.products-container .product .image-container{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-count{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-count span{
    border: 1px solid #1D1F22;
   padding: 0px 5px 0px 5px ;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-bottom:10% ;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.btns button{
    width: 48%;
    padding: 15px;
}
.btns button{
    background-color: transparent;
    border: 1px solid;
}
.btns button:hover{
    cursor: pointer;
}

.btns .check{
    background-color: #5ECE7B;
    color: white;
}

@media (max-width:1200px){
    .card-modal-container{
      
        width: 80%;
    }

}